/Inventory-Management-System/.gradle/8.10/checksums/.gitignore
/Inventory-Management-System/.gradle/8.10/checksums/checksums.lock
/Inventory-Management-System/.gradle/8.10/checksums/md5-checksums.bin
/Inventory-Management-System/.gradle/8.10/checksums/sha1-checksums.bin
/Inventory-Management-System/.gradle/8.10/dependencies-accessors/gc.properties
/Inventory-Management-System/.gradle/8.10/executionHistory/executionHistory.bin
/Inventory-Management-System/.gradle/8.10/executionHistory/executionHistory.lock
/Inventory-Management-System/.gradle/8.10/fileChanges/last-build.bin
/Inventory-Management-System/.gradle/8.10/fileHashes/fileHashes.bin
/Inventory-Management-System/.gradle/8.10/fileHashes/fileHashes.lock
/Inventory-Management-System/.gradle/8.10/fileHashes/resourceHashesCache.bin
/Inventory-Management-System/.gradle/8.10/gc.properties
/Inventory-Management-System/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Inventory-Management-System/.gradle/buildOutputCleanup/cache.properties
/Inventory-Management-System/.gradle/buildOutputCleanup/outputFiles.bin
/Inventory-Management-System/.gradle/file-system.probe
